@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Gothic+Coding|Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nanum Gothic Coding', monospace;
}

body {
    background-color: rgba(0, 0, 0, 0.015);
}

header {
    position: relative;
    height: 70px;
    background-color: #0033CC;
    opacity: 0.7;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}

.head-nav {
    display: flex;
    justify-content: space-between;
    width: 525px;
    height: 50px;
}

.head-nav > li {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 15%;
    height: 100%;
}

.head-nav > li:after {
    content: "";
    width: 0%;
    height: 3.7px;
    background-color: #fff;
    transition: all 0.4s;
}

.head-nav > li.active:after {
    width: 100%;
}

.head-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Noto Sans KR', sans-serif;
}

.head-nav > li > a:hover {
    color: #fff;
    font-weight: bold;
}

.head-nav > li:hover:after {
    width: 100%;
}

.head-nav > li.active > a {
    font-weight: bold;
    color: #fff;
}

.re-search-box {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 1300px;
    height: 150px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
}

.search-box {
    width: 800px;
    height: 55px;
    border: 5px solid #4c6fda;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 40px;
}

#search-form {
    display: flex;
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px 0;
    background-color: #fff;
}

.select-box {
    position: relative;
    width: 15%;
    height: 100%;
    z-index: 1;
}

.select-box::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    width: 0;
    height: 0;
    margin-top: -1px;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent;
    border-top: 5px solid #4c6fda;
}

.select-box label {
    position: absolute;
    top: 52%;
    left: 40%;
    font-size: 0.95rem;
    font-weight: bold;
    transform: translate(-50%, -50%);
    color: #4c6fda;
}

#server-select {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    font-size: 0.95rem;
    font-weight: bold;
    color: #000;
    padding-left: 20px;
    border: 0px;
    opacity: 0;
    outline: none;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    appearance: none;
}

#char-name {
    width: 80%;
    height: 100%;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 30px;
    color: #4c6fda;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
}

#char-name:focus {
    color: #4c6fda;
}

#char-name::placeholder {
    color: #4c6fda;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.3s;
}

#char-name:focus::placeholder {
    opacity: 0;
}

#char-name:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #4c6fda !important;
}

#search-btn {
    width: 15%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    color: #4c6fda;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

.result-section {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    justify-content: center;
    grid-auto-rows: 380px;
    grid-gap: 50px 40px;
    width: 1300px;
    min-height: 585px;
    margin: 30px auto;
}

.chars {
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    cursor: pointer;
}

.chars > .img-box {
    position: relative;
    top: -20px;
    right: -5px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
}

.chars > .img-box > img {
    height: 300px;
}

.chars > .server-name {
    position: absolute;
    top: 12px;
    left: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 33px;
    border-radius: 5px;
    background-color: #4c6fda;
    color: #fff;
    font-weight: bold;
    font-size: .9rem;
}

.chars > .char-level {
    position: absolute;
    top: 12px;
    right: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 33px;
    border-radius: 5px;
    background-color: #4c6fda;
    color: #fff;
    font-weight: bold;
    font-size: .9rem;
}

.chars > .char-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.chars > .char-info > span {
    margin: 8px 0;
}
.chars > .char-info > .char-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93.5%;
    height: 33px;
    border-radius: 5px;
    background-color: #ff9800; /*FF4001*/
    color: #fff;
    font-weight: bold;
    font-size: .9rem;
}

.chars > .char-info > .job-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93.5%;
    height: 33px;
    border-radius: 5px;
    background-color: #4c6fda;
    color: #fff;
    font-weight: bold;
    font-size: .9rem;
}

footer {
    width: 1300px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
}

footer > .foot-box {
    width: 100%;
    margin-top: 5px;
}

footer > .foot-box > a {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: .95rem;
}

footer > .foot-box > span {
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
}